:root {
  color-scheme: light dark;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
