:root {
  color-scheme: light dark;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo,
    sans-serif;
  height: 100dvh;
}

#app {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 0.5rem 0;
}
